params.base_out            = '/home/moritz/data/0079_pelaginet/cliquebait_nf'            // Base folder for all input/output
params.genomes_out         = "${params.base_out}/genomes/"               // Output directory
params.fastani_out         = "${params.base_out}/fastanis/"               // Output directory
params.threads             = 20                                            // Number of threads to use
params.taxa                = "/home/moritz/projects/cliqueblocks/cliquebait/analysis/genuses.txt"
params.gtdb_md             = "/home/moritz/data/0064_bis/metadata/bac120_taxonomy_r226.tsv"
process.cpus               = params.threads
