params.base_out            = '/home/moritz/data/0079_pelaginet/cliquebait_nf'            // Base folder for all input/output
params.genomes_out         = "${params.base_out}/genomes/"               // Output directory
params.fastani_out         = "${params.base_out}/fastanis/"               // Output directory
params.cliquebait_out      = "${params.base_out}/cliquebaits/"               // Output directory
params.motupan_out         = "${params.base_out}/motupan/"
params.genecall_out        = "${params.base_out}/genecalls/"
params.threads             = 20                                            // Number of threads to use
params.taxa                = "/home/moritz/projects/cliquebait/cliquebait/analysis/genuses.txt"
params.gtdb_md             = "/home/moritz/data/0064_bis/metadata/bac120_taxonomy_r226.tsv"
params.gtdb_ar_md          = "/home/moritz/data/0064_bis/metadata/ar53_taxonomy_r226.tsv"
params.cliquebait_path     = "/home/moritz/projects/cliquebait/"
params.min_clique_size     = 20
params.gap_size            = 1
params.checkm_path         = "/home/moritz/data/dbs/gtdb/release226/metadata/gtdb_checkm2.tsv"
params.checkm_completeness = 70
params.checkm_contamination = 3
params.seqid                = 0.7
params.covmode              = 1
params.cov                  = 0.8
